/* Basics {{{ */

body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.slide {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: #523399;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms cubic-bezier(0.39, 0.58, 0.57, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 5vw;
  overflow: hidden;
}

.slide-content {
  padding: 30px;
  font-size: 5vh;
  line-height: 1.375;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1 {
  font-size: 10vh;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  margin: 0;
  color: gold;
}

h2 {
  font-size: 6vh;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

h1 + h2 {
  margin-top: 2vh;
}

h3 {
  font-size: 6vh;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
}

ul {
  padding: 20px 0 0 60px;
  line-height: 1.375;
}

.author h1 {
  font-size: 170%;
  text-align: center;
  margin-bottom: 30px;
}

.author h3 {
  text-align: center;
  font-size: 95%;
  border: none;
}

a {
  text-decoration: none;
  color: #44a4dd;
}

a:hover {
  color: #66b5ff;
}

pre {
  font-size: 3vh;
  line-height: 1.3;
}

code {
  font-family: 'Overpass Mono', monospace;
}

.progress {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 3px;
  z-index: 1;
}

.progress-bar {
  width: 0%;
  height: 3px;
  background-color: #b4b4b4;

  -webkit-transition: width 0.05s ease-out;
  -moz-transition: width 0.05s ease-out;
  -o-transition: width 0.05s ease-out;
  transition: width 0.05s ease-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* }}} */

/* Dracula theme {{{ */
 /*

Dracula Theme v1.2.0

https://github.com/zenorocha/dracula-theme

Copyright 2015, All rights reserved

Code licensed under the MIT license
http://zenorocha.mit-license.org

@author Éverton Ribeiro <nuxlli@gmail.com>
@author Zeno Rocha <hi@zenorocha.com>

*/

.slide-content pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
  color: white;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-function .hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

/* }}} */

.package-name {
  position: absolute;
  top: 5vh;
  font-family: 'Overpass Mono', monospace;
  left: 50%;
  transform: translateX(-50%);
}

.package-name::before {
  display: block;
  content: "Package:";
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  opacity: .7;
}

.progress-bar {
  background-color: gold;
}

.bk-video .slide-content {
  align-items: center;
}

.bk-video video {
  width: 100%;
}

/* Overwrite */

.slide.flex-start .slide-content {
  justify-content: flex-start;
}

.slide.sentisis {
  background: linear-gradient(135deg, rgba(16,212,169,1) 0%, rgba(3,101,192,1) 100%);
}
.slide.sentisis h1 {
  color: white;
}
.slide.sentisis h2 {
  color: white;
  opacity: .85;
}

#sentisis-logo {
  position: absolute;
  bottom: 25vh;
  left: 50%;
  transform: translateX(-50%);
  height: 8vh;
}

.slide.bk-white {
  background-color: white;
}

.slide.chart-video {
  background-color: #f2f3f7;
}

.chart-video video {
  width: 90%;
}

.slide.code, .slide.vim-code {
  background: #282a36;
}

.bk-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.doc {
  background-color: #fefefe;
  color: #333;
}

.doc .slide-content {
  justify-content: flex-start;
  padding: 5vh 10vw;
}

.doc h1 {
  font-size: 5vh;
  text-align: left;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .8);
}

.doc h1 em {
  font-weight: 200;
  line-height: 1.5em;
}

.doc p {
  text-align: left;
  margin: 0;
  font-size: 3vh;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 3vh;
  max-width: 60ch;
}

.vim-code code {
}

#vimCodeElement {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

#vimCodeElement .LineNr {
  opacity: 0;
}

#vimCodeElement .Include { color: #8be9fd; }
#vimCodeElement .Identifier { color: #8be9fd; }
#vimCodeElement .Function { color: #8be9fd; }
#vimCodeElement .String { color: #f1fa8c; }

#vimCodeElement .jsReturn,
#vimCodeElement .jsOperator,
#vimCodeElement .StorageClass { color: #ff79c6; }

#vimCodeElement .Type { color: #8be9fd; }

#vimCodeElement .jsFuncCall { color: #50fa7b; }

