body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slides-link {
  position: fixed;
  bottom: 5vh;
  color: gray;
}

.App > button {
  margin-top: 50px;
}
